/*
	*Last update: January 6, 2016
	*Author: David Velasco
	*Contains: Style sheet
	*Color reference: http://www.google.com.mx/design/spec/style/color.html#
/**/

.row {
	margin-top:75px;
	/*border-radius:5px;
	border: 1px solid grey;/**/
}

#topMenu {
	background-color:  #3f51b5;
}

#topMenu a{
	color:white;
}

#aboutMeContainer {
	background-image:url("../img/AboutMe_bck_img.jpg");/**/
	background-size:cover;/**/
	background-position:center;/**/
	/*background-color:#BBDEFB;/**/
	overflow:hidden;
	text-align:center;
	width:100%;
	position:relative;
}

.qouteParent{
	position:relative;
	overflow:hidden;
	/*background-color:red;/**/
}

.qouteSection {
	/*display:inline-block;/**/
	height:100%;/**/
	top = 0;
	right = 0;
	position:absolute;
	vertical-align:middle;
	font-style:italic;
	/*background-color:green;/**/
}

#divAboutMe p{
	font-size:1.2em;
	color:white;
}

/*TO-DO: Check currently the border-radius once having the proper image*/
img {
	/*border-radius:50%;/**/
}

#divExperience {
	background-color:#e8eaf6;
	width:100%;
}